html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* typography.css */
html {font-size:100.01%;}
body {font-size:75%;color:#222;background:#fff;font-family: 'microsoft yahei', Verdana, "宋体";word-wrap: break-word;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:2em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:1.6em;margin-bottom:0.75em;}
h3 {font-size:1.4em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img.left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus, a:hover {color:#000;}
a {
    color:#167DFD;
    text-decoration:none;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	background: transparent;
	text-shadow: 0 1px 3px #ccc;
}
a:hover{color:#FC325A}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tfoot {font-style:italic;}
caption {background:#eee;}
body{
    background:#0e1324;
}
#center
 {
  width: 640px;
  height: 280px;
  left:50%; 
  top:50%; 
  margin-left:-320px;
  margin-top: -140px; 
  padding:10px 0 20px;
  position: absolute;  
  background:url(../images/screens.png);
  background-size:auto;
 }
 .flasharea{
     width:400px;
     height:290px;
     float:left;
     background:url('../images/logo_white.png') no-repeat center;
 }
 .loginform{     
     color:#FFF;
     width:220px;
     float:right;
     padding:0 0 0 10px;
     border-left: 1px solid #FFF;
 }
 .loginform tr{
     height:30px;
 } 
 .loginform .f_input{
     max-width: 200px;
     height:30px;
     background:none;
     color:#FFF;
     font-size:24px;
     line-height:30px;
 }
 .loginform .errorMessage{
     color:#ff2c54;
 }
 .loginform .submit{
     height:30px;
     width:50px;
     background:#60c9f8;
     color:#FFF;
     border:none;
     font-weight: bold;
 }
 .loginform .submit:hover{
     background:#167dfd;
 }